# https://git-scm.com/docs/gitattributes
#
# A gitattributes file is a simple text file that gives attributes to path names.
# Each line in gitattributes file is of form: pattern attr1 attr2 ...
# That is, a pattern followed by an attributes list, separated by white spaces.
# When the pattern matches the path in question, the attributes listed on the line are given to the path.
# Each attribute can be in one of these states for a given path:
# FIX CRLF always when developer has not set
# Linux/Mac: git config --global core.autocrlf input
# Windows: git config --global core.autocrlf true
# Auto detect text files and perform LF normalization
* text=auto
* text eol=lf

# git objects as binary
*.png binary
*.ico binary
*.icns binary
*.vue text

# git objects as text for diff
*.md text
*.js text
*.yml text
.editorconfig text
.gitattributes text
.gitignore text
